/* Import Tailwind CSS framework */
@tailwind base; /* Base styles for typography, colors, etc. */
@tailwind components; /* Component classes like buttons, forms, etc. */
@tailwind utilities; /* Utility-first classes for styling elements */

/* Standardize line height, tab-size, font family across different browsers */
html,
:host {
  /* Apply styles globally */
  line-height: 1.5; /* Sets the line height for better readability */
  -webkit-text-size-adjust: 100%; /* Ensures text size adjusts properly on iOS devices */
  -moz-tab-size: 4; /* Sets the default tab size for Firefox */
  -o-tab-size: 4; /* Sets the default tab size for Opera */
  tab-size: 4; /* Sets the default tab size for other browsers */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    /* Defines fallback fonts */ "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji"; /* Provides support for emoji fonts */
  font-feature-settings: normal; /* Disables font features like ligatures */
  font-variation-settings: normal; /* Disables font variations */
  -webkit-tap-highlight-color: transparent; /* Removes tap highlight color on iOS */
}

/* Define custom color variables */
:root {
  /* Root scope for defining global variables */
  --main-color: #708090; /* Main theme colour */
  --secondary-color: #f5f5f5; /* Secondary theme colour */
  --accent-color: #fcb900; /* Accent colour */
  --text-color: #bccceb; /* Text colour */
  --success-color: #22bb33; /* Success colour */
  --success-color-dark: #1c8a29; /* Success colour */
  --error-color: #b22222; /* Error colour */
  --error-color-dark: #a11e1e; /* Error colour */
}
/* Style for level 1 headings (.h1) */
.h1 {
  /* Sets the font size to 2.5rem */
  font-size: 2.5rem;
  /* Sets the font weight to bold (700) */
  font-weight: 700;
  /* Adds top and bottom margins of 1.5rem */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Style for card headers (.card-header) */
.card-header {
  /* Sets the font size to 2rem */
  font-size: 2rem;
  /* Adds a bottom margin of 1rem */
  margin-bottom: 1rem;
}

/* General style for paragraphs (p) */
p {
  /* Sets the font size to 1.2rem */
  font-size: 1.2rem;
}

/* Specific style for anchor tags within list items of menus and dropdowns */
.menu > li > a,
.dropdown > li > div > a {
  /* Sets the font size to 1.2rem, overriding any other conflicting styles */
  font-size: 1.2rem !important;
}

/* Media query for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
  /* Enhanced style for level 1 headings (.h1) on larger screens */
  .h1 {
    /* Increases the font size to 4rem */
    font-size: 4rem;
    /* Adjusts the top and bottom margins to 2rem */
    margin: 2rem 0;
  }
  /* Enhanced style for anchor tags within list items of menus and dropdowns on larger screens */
  .menu > li > a,
  .dropdown > li > div > a {
    /* Increases the font size to 1.5rem, overriding any other conflicting styles */
    font-size: 1.5rem !important;
  }
}
