<!-- Web component representing a card with a side-by-side layout on medium and larger screens -->
<div class="card md:card-side bg-inherit shadow-xl rounded-none py-0">
  <!-- Figure element serving as the left side of the card, containing an image slot -->
  <figure class="card-body w-fit p-0">
    <!-- Slot for the card's image, allowing content to be inserted dynamically -->
    <slot class="h-fit flex items-center" name="img"></slot>
  </figure>
  <!-- Div element serving as the right side of the card, containing the main content -->
  <div class="card-body w-full">
    <!-- Slot for the card's content, allowing dynamic insertion of text or other elements -->
    <slot class="flex flex-col h-full justify-center" name="content"></slot>
  </div>
</div>
