<style>
  nav p {
    font-size: 0.875rem;
  }
</style>

<footer class="footer bg-base-200 text-base-content p-10">
  <aside id="logo-footer">
    <p>
      Country Rock Concrete
      <br />
      Providing quality service since 2022
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Helpful Links</h6>
    <a href="../pages/about.html" class="link link-hover">About us</a>
    <a href="../pages/services.html" class="link link-hover">Services</a>
    <a href="../pages/colours.html" class="link link-hover">Colours</a>
    <a href="../pages/contact.html" class="link link-hover">Contact us</a>
    <a href="../pages/contact.html" class="link link-hover">Free Quote</a>
  </nav>
  <nav>
    <h6 class="footer-title">Areas Served</h6>
    <p>Elgin county</p>
    <p>Middlesex county</p>
    <p>Norfolk county</p>
    <p>Kent county</p>
  </nav>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover" href="../pages/services.html#1">Concrete pads</a>
    <a class="link link-hover" href="../pages/services.html#2">Driveways</a>
    <a class="link link-hover" href="../pages/services.html#3">Walkways</a>
    <a class="link link-hover" href="../pages/services.html#4">Patios</a>
    <a class="link link-hover" href="../pages/services.html#5">Pool decks</a>
    <a class="link link-hover" href="../pages/services.html#6">Foundations</a>
    <a class="link link-hover" href="../pages/services.html#7"
      >Concrete cutting</a
    >
    <a class="link link-hover" href="../pages/services.html#8"
      >Concrete sealing</a
    >
    <a class="link link-hover" href="../pages/services.html#9">Maintenance</a>
  </nav>
  <nav>
    <h6 class="footer-title">Business Information</h6>
    <p>Country Rock Concrete</p>
    <a href="tel:15195555555" class="link link-hover">1-519-555-5555</a>
    <a href="mailto:info@countryrockconcrete.com" class="link link-hover"
      >info@countryrockconcrete.com</a
    >
    <p>
      Monday - Saturday<br />
      7:00AM - 7:00PM
    </p>
    <p class="">© <span id="year"></span> - Country Rock Concrete</p>
  </nav>
</footer>
