<style></style>
<nav class="navbar bg-base-200">
  <div class="navbar md:w-fit">
    <a class="btn btn-ghost text-xl" href="../pages/index.html">CRC</a>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-md dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="../pages/index.html">Home</a></li>
        <li><a href="../pages/about.html">About us</a></li>
        <li><a href="../pages/services.html">Services</a></li>
        <li><a href="../pages/contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar hidden md:w-full md:flex md:navbar-end">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li><a href="../pages/index.html">Home</a></li>
      <li><a href="../pages/about.html">About us</a></li>
      <div class="dropdown dropdown-hover text-lg">
        <li>
          <div tabindex="0">
            <a href="../pages/services.html">Services</a>
            <img src="../../icons/chevron-down.svg" />
          </div>
        </li>
        <ul
          tabindex="0"
          class="dropdown-content menu bg-base-100 rounded-box z-[1] min-w-36 p-2 shadow text-lg"
        >
          <li><a ref="../pages/services.html#">Service 1</a></li>
          <li><a ref="../pages/services.html#">Service 2</a></li>
          <li><a ref="../pages/services.html#">Service 3</a></li>
          <li><a ref="../pages/services.html#">Service 4</a></li>
          <li><a ref="../pages/services.html#">Service 5</a></li>
        </ul>
      </div>
      <li><a href="../pages/contact.html">Contact Us</a></li>
    </ul>

    <button class="md:flex">
      <a href="../pages/contact.html" class="btn btn-primary text-lg"
        >Free Quote</a
      >
    </button>
  </div>
  <button class="navbar-end md:hidden">
    <a href="../pages/contact.html" class="btn btn-primary">Free Quote</a>
  </button>
</nav>
