<style>
  /* Universal selector for all anchor (<a>) elements */
  a {
    /* Specifies the font family to be used for the text within the anchor elements */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

    /* Sets the background color of the anchor elements using HSLA color notation */
    background-color: hsla(215.4, 16.3%, 46.9%, 1);
  }

  /* Selector for anchor elements when they are being hovered over */
  a:hover {
    /* Changes the background color of the anchor elements upon hover, using a darker shade */
    background-color: hsla(215.4, 22.3%, 40.9%, 1);
  }
  .animated-background {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    background-size: 200% 100%;
    background-image: linear-gradient(
      to right,
      hsla(215.4, 16.3%, 46.9%, 1) 50%,
      hsla(215.4, 22.3%, 40.9%, 1) 50%
    );
    animation: Gradient 5s ease infinite;
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
<!-- Company logo made purely with HTML and CSS as a clickable icon -->

<a
  class="animated-background w-28 md:w-32 h-24 md:h-28 p-2 font-bold text-white shadow-sm flex flex-col justify-end items-start"
  href="../pages/index.html"
>
  <p class="text-xs text-nowrap md:text-sm text-left">Country Rock</p>
  <p class="text-lg md:text-xl">Concrete</p>
</a>
