<!-- Hero section with a card-like layout, using a base background color, shadow effect, secondary text color, and maximum width constraints -->
<div
  class="hero card bg-base-300 shadow-xl text-secondary w-full max-w-72 md:max-w-96"
>
  <!-- Overlay div with semi-transparent background and rounded edges, enhancing the visual appeal of the hero section -->
  <div class="hero-overlay bg-opacity-70 rounded-xl"></div>

  <!-- Main content container for the hero section, using flexbox for layout, background clipping for text, and responsive sizing -->
  <div
    bg-url=""
    class="flex flex-auto flex-col justify-around gap-4 md:gap-8 p-8 items-center h-72 md:h-96 bg-clip-text bg-origin-padding bg-contain"
  >
    <!-- Centered heading slot for dynamic insertion of a title -->
    <h2 class="text-center text-2xl lg:text-3xl font-bold">
      <slot name="heading"></slot>
    </h2>
    <!-- Centered paragraph slot for dynamic insertion of a subtitle or brief description -->
    <p class="text-center text-base md:text-xl font-bold">
      <slot name="p"></slot>
    </p>
    <!-- Button slot for dynamic insertion of a call-to-action button -->
    <button>
      <slot name="btn"></slot>
    </button>
  </div>
</div>
